.git
.github
node_modules
**/node_modules
.turbo
.vercel
.next
**/.next
dist
**/dist
coverage
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
**/__pycache__
*.pyc
.venv
venv
.env
.env.*
infra/.env
infra/.env.local
infra/.env.aws
infra/.env.aws-local
.DS_Store
